@import url(normalize.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/helveticaneue-medium.woff2) format("woff2"), url(../fonts/helveticaneue-medium.woff) format("woff");
}

:root {
    --color-bg: #f1f1f1;
    --color-botonbg: #fff;
    --border-radiusbtn: 10px;
    --padding-vertical: 20px;
    --padding-horizontal: 30px;
    --fontsize-titulo: 24px;
    --fontsize-subtitulo: 14px;
    --marginbottom-card: 10px;
}

.container {
    background-color: var(--color-bg);
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: "Helvetica Neue", sans-serif;

    & main {
        background-color: var(--color-botonbg);
        padding: var(--padding-vertical) var(--padding-horizontal);
        border-radius: var(--border-radiusbtn);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

        & .titulo {
            font-size: var(--fontsize-titulo);
            font-weight: 400;
            margin-bottom: var(--marginbottom-card);
        }

        & .madeby {
            font-size: var(--fontsize-subtitulo);
            font-weight: 300;
        }
    }
}